<div class="columns is-multiline my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <div class="column is-4">
        <figure class="image" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/img/Tupi_01.jpg" itemprop="contentUrl" data-size="1600x1122">
                <img src="/img/Tupi_01.jpg" itemprop="thumbnail" alt="" />
            </a>
            <figcaption itemprop="caption description">Image caption 1</figcaption>
        </figure>
    </div>
    <div class="column is-4">
        <figure class="image" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/img/Tupi_02.jpg" itemprop="contentUrl" data-size="1600x1122">
                <img src="/img/Tupi_02.jpg" itemprop="thumbnail" alt="" />
            </a>
        </figure>
    </div>
    <div class="column is-4">
        <figure class="image" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/img/Tupi_03.jpg" itemprop="contentUrl" data-size="1024x718">
                <img src="/img/Tupi_03.jpg" itemprop="thumbnail" alt="" />
            </a>
        </figure>
    </div>
    <div class="column is-4">
        <figure class="image" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/img/Tupi_04.jpg" itemprop="contentUrl" data-size="1280x898">
                <img src="/img/Tupi_04.jpg" itemprop="thumbnail" alt="" />
            </a>
        </figure>
    </div>
    <div class="column is-4">
        <figure class="image" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/img/Tupi_05.jpg" itemprop="contentUrl" data-size="800x561">
                <img src="/img/Tupi_05.jpg" itemprop="thumbnail" alt="" />
            </a>
        </figure>
    </div>
    <div class="column is-4">
        <figure class="image" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/img/Tupi_06.jpg" itemprop="contentUrl" data-size="1024x718">
                <img src="/img/Tupi_06.jpg" itemprop="thumbnail" alt="" />
            </a>
        </figure>
    </div>
</div>
